<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"
>

<hibernate-configuration>
	<session-factory>
		<property name = "hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
		
		<!-- Parametros de conexion con la BD -->
		<property name = "hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name = "hibernate.connection.url">jdbc:oracle:thin:@10.192.120.60:1521:ORCL</property>
		<property name = "hibernate.connection.username">ROBERTO</property>
		<property name = "hibernate.connection.password">5132Mr2012</property>
		<property name = "hibernate.connection.pool_size">10</property>
		<property name = "hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		
		<!-- Mostrar el sql general por consola para debugging -->
		<property name = "show_sql">true</property>
		<property name = "format_sql">true</property>
		
		<!-- Mapping file -->
		<!-- Tantos archivos mapping como objetos haya -->
		<mapping resource="mapping/casa.hbm.xml"/>
	</session-factory>
</hibernate-configuration>